
@{
    Layout = null;
}

<!DOCTYPE html>

<html ng-app="mainApp">
<head>
    <meta name="viewport" content="width=device-width" />
    <title>angular</title>
    <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.2.15/angular.min.js"></script>

    <script src="~/Scripts/App.js"></script>
    <script src="~/Scripts/doctorcontroller.js"></script>
    <script src="~/Scripts/doctorservice.js"></script>
</head>
<body>
    <h1 style="font-family: Ubuntu;">Zoek een doctor</h1>
    <center>
        <div ng-controller="doctorcontroller">
            <div ng-repeat="doctor in doctors" style="margin: 10px; background-color: #FBAD26; color: white; font-family: Ubuntu;  width:220px; height:150px;float:left;margin:10px,0px,10px,0px;">
                <center>
                    {{doctor.naam}}<br />
                    {{doctor.straat}}{{doctor.huisnr}}<br />
                    {{doctor.postcode}} {{doctor.gemeente}}<br/><br /><br />
                    <input type="button" name="click" value="maak een afspraak" style="width:100%; margin:0; background-color:black; color:white;border:none; font-family:Ubuntu; height:50px"  />
                </center>
            </div>
        </div>
    </center>
</body>
</html>
